.heading1 {
  font-size: .2rem;
  font-weight: 600;
  color: #33383e; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #4fc1b1;
  color: #33383e; }
  @media only screen and (max-width: 91.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 52.25%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 47.5em) {
    html {
      font-size: 52.25%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      background-color: #f4f3f3; } }

.container {
  margin: 6rem 8rem;
  padding: 2rem;
  background-color: #eef1f8;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 1fr 4fr;
  column-gap: 2.5rem; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-columns: 6fr 1fr 2fr;
      grid-template-rows: 1fr 3fr 1fr;
      row-gap: 2rem;
      padding: 4rem; } }
  @media only screen and (max-width: 59.38em) {
    .container {
      grid-template-columns: minmax(min-content, max-content);
      grid-row: auto;
      overflow-x: hidden; } }
  @media only screen and (max-width: 47.5em) {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-row: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      margin: auto;
      padding: 1.5rem;
      overflow-x: hidden; } }

.heading1 {
  font-size: 3rem;
  font-weight: 600; }

.header {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media only screen and (max-width: 75em) {
    .header {
      grid-row: 1/2;
      grid-column: 1/3; } }
  @media only screen and (max-width: 59.38em) {
    .header {
      grid-column: 1/-1;
      grid-row: 1/2; } }
  @media only screen and (max-width: 47.5em) {
    .header {
      grid-row: 1/2;
      padding-bottom: 0;
      width: auto; } }
  .header__heading {
    display: flex;
    gap: 5rem;
    align-self: start; }
    @media only screen and (max-width: 59.38em) {
      .header__heading {
        justify-content: center; } }
  .header span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: #b3b3b3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .header span:hover, .header span:active {
      background-color: #f4f3f3; }
  .header__nav {
    display: flex;
    gap: .5rem;
    justify-content: space-between; }
    @media only screen and (max-width: 59.38em) {
      .header__nav {
        justify-content: flex-start;
        gap: 2rem; } }
    @media only screen and (max-width: 47.5em) {
      .header__nav {
        grid-row: 1/2;
        padding-bottom: 0;
        width: auto;
        overflow-x: auto;
        scroll: hidden; } }
  .header__nav-items {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-around;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .2px;
    border: 1px solid #b3b3b3;
    border-radius: .5rem;
    padding: .5rem 1rem; }
    @media only screen and (max-width: 47.5em) {
      .header__nav-items {
        background-color: #fff;
        border: none;
        padding: 1rem; } }
  .header__nav-item {
    transition: all .2s;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer; }
    .header__nav-item:hover, .header__nav-item:active, .header__nav-item-active {
      color: #4fc1b1; }
      .header__nav-item:hover::after, .header__nav-item:active::after, .header__nav-item-active::after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #4fc1b1;
        top: 205%;
        left: 0;
        position: absolute; }
  .header__tracking {
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer; }
    .header__tracking-time {
      background-color: #eef1f8;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      border: none; }
    .header__tracking-play {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      background-color: #4fc1b1;
      fill: #fff;
      stroke: #fff; }

.calender {
  grid-column: 2/3;
  grid-row: 2/-1;
  overflow-x: hidden;
  background-color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  color: #33383e; }
  @media only screen and (max-width: 47.5em) {
    .calender__year {
      overflow-x: scroll; } }
  @media only screen and (max-width: 75em) {
    .calender {
      grid-row: 2/3;
      grid-column: 1/3; } }
  @media only screen and (max-width: 59.38em) {
    .calender {
      grid-column: 1/-1;
      grid-row: 2/3;
      margin-top: -7rem;
      width: max-content; } }
  @media only screen and (max-width: 47.5em) {
    .calender {
      grid-row: 2/3;
      width: auto;
      margin-top: -8rem; } }
  .calender__time-line {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    transition: all .3s; }
    @media only screen and (max-width: 59.38em) {
      .calender__time-line {
        justify-content: center;
        width: max-content; } }
    .calender__time-line h2 {
      cursor: pointer; }
    .calender__time-line h2:hover {
      color: #4fc1b1;
      position: relative;
      transition: all .3s; }
      .calender__time-line h2:hover::after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #4fc1b1;
        position: absolute;
        right: 0;
        top: 170%; }
    .calender__time-line h4 {
      padding: 1rem 2rem;
      color: #689ede;
      background-color: #eef1f8;
      border-radius: 5px;
      cursor: pointer; }
      .calender__time-line h4:hover {
        background-color: #f4f3f3; }
      @media only screen and (max-width: 59.38em) {
        .calender__time-line h4 {
          display: none; } }
  .calender-timeline {
    margin-right: auto; }
  .calender__months {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
    padding: 2rem;
    position: relative; }
    @media only screen and (max-width: 59.38em) {
      .calender__months {
        width: max-content;
        overflow-x: scroll; } }
    @media only screen and (max-width: 47.5em) {
      .calender__months {
        font-size: 2rem;
        overflow-x: scroll; } }
    @media only screen and (max-width: 31.25em) {
      .calender__months {
        gap: 4rem; } }
    .calender__months::after {
      content: "";
      width: 2px;
      height: 100%;
      position: absolute;
      background-color: #d9d9d9;
      left: 17%; }
      @media only screen and (max-width: 59.38em) {
        .calender__months::after {
          left: 19%; } }
    .calender__months p {
      padding: .5rem;
      transition: all .3s;
      cursor: pointer; }
    .calender__months p:hover, .calender__months-active {
      background-color: #4fc1b1;
      color: #fff;
      border-radius: 5px; }
  .calender__days {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; }
    @media only screen and (max-width: 59.38em) {
      .calender__days {
        width: max-content;
        overflow-x: scroll; } }
    .calender__days p {
      padding: .5rem;
      transition: all .3s;
      cursor: pointer; }
    .calender__days p:hover, .calender__days-active {
      background-color: #4fc1b1;
      color: #fff;
      border-radius: 5px; }
  .calender__week-day {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    margin-top: 3rem;
    margin-left: 2rem; }
    @media only screen and (max-width: 47.5em) {
      .calender__week-day {
        margin-bottom: 3rem; } }
  .calender__week-date {
    align-self: flex-end; }
  .calender__tasks {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 1rem;
    cursor: pointer; }
    @media only screen and (max-width: 47.5em) {
      .calender__tasks {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start; } }
    .calender__tasks-box {
      margin-left: 2rem;
      position: relative;
      font-weight: 600; }
      .calender__tasks-box:hover {
        color: #958fe5; }
        .calender__tasks-box:hover::before {
          content: "";
          height: 1rem;
          width: 1rem;
          background-color: #958fe5;
          position: absolute;
          border-radius: 50%;
          right: -100%; }
        .calender__tasks-box:hover::after {
          content: "";
          width: 1rem;
          height: 500%;
          background-color: #fff;
          border-right: 1px #958fe5;
          position: absolute;
          right: -85%;
          top: 100%;
          display: block; }
      .calender__tasks-box::before {
        content: "";
        height: 1rem;
        width: 1rem;
        background-color: #4d4b49f8;
        position: absolute;
        border-radius: 50%;
        right: -100%; }
      .calender__tasks-box::after {
        content: "";
        width: 1rem;
        height: 500%;
        background-color: #fff;
        border-right: 1px dotted #4d4b49f8;
        position: absolute;
        right: -85%;
        top: 100%; }
        @media only screen and (max-width: 59.38em) {
          .calender__tasks-box::after {
            display: none; } }
    .calender__tasks-desc {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #f1f6fa;
      padding: 2.5rem;
      border-radius: 1rem;
      gap: 2rem;
      width: 90%; }
      .calender__tasks-desc:hover {
        background-color: #e6eef9;
        position: relative; }
        .calender__tasks-desc:hover::after {
          content: "";
          width: .4rem;
          height: 70%;
          background-color: #958fe5;
          position: absolute;
          left: 2%; }
      .calender__tasks-desc-sub {
        display: flex;
        flex-direction: column;
        gap: 1rem; }
      .calender__tasks-desc-h3 {
        display: flex;
        flex-direction: column;
        gap: 1rem; }
      .calender__tasks-desc h2 {
        padding: 1rem; }
      .calender__tasks-desc h2:hover,
      .calender__tasks-desc h2:active, .calender__tasks-desc-active {
        background-color: #958fe5;
        color: #fff;
        border-radius: 50%; }

.heading-task {
  margin-left: auto;
  color: #fff; }

.status {
  grid-column: 3/-1;
  grid-row: 1/-1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  position: relative;
  fill: #fff;
  stroke: #4d4b49f8; }
  @media only screen and (max-width: 75em) {
    .status {
      grid-column: 3/-1;
      grid-row: 1/3; }
      .status::before, .status::after {
        display: none; } }
  @media only screen and (max-width: 59.38em) {
    .status {
      grid-column: 1/-1;
      grid-row: 4/5;
      width: max-content;
      flex-direction: row;
      gap: 8rem;
      align-items: stretch; } }
  @media only screen and (max-width: 59.38em) {
    .status {
      justify-content: center; } }
  @media only screen and (max-width: 31.25em) {
    .status {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .status::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    position: absolute;
    top: 17.5%; }
  .status::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    position: absolute;
    top: 35.5%; }
  .status__main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: #fff;
    margin-top: 2rem;
    padding: 2rem; }
    @media only screen and (max-width: 75em) {
      .status__main {
        margin-top: 6.35rem; } }
    @media only screen and (max-width: 31.25em) {
      .status__main {
        width: auto;
        flex-grow: 1;
        align-items: stretch; } }
  .status__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem; }
  .status__logo-containers {
    display: flex;
    gap: 1rem; }
  .status__logo-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #d9d9d9;
    transition: all .2s;
    cursor: pointer; }
    .status__logo-container--active {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 1px solid #d9d9d9;
      color: #4fc1b1;
      fill: #4fc1b1;
      stroke: #4fc1b1;
      transition: all .2s;
      cursor: pointer; }
    .status__logo-container:hover, .status__logo-container:active {
      color: #4fc1b1;
      fill: #4fc1b1;
      stroke: #4fc1b1; }
  .status__services {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    @media only screen and (max-width: 59.38em) {
      .status__services {
        justify-content: center; } }
    .status__services-lists p {
      display: inline-block;
      border: 1px solid #d9d9d9;
      border-radius: 100px;
      display: flex;
      align-items: center;
      padding: .3rem .6rem;
      width: fit-content;
      margin-bottom: 1rem;
      cursor: pointer; }
      .status__services-lists p:hover, .status__services-lists p:active {
        background-color: #f4f3f3; }
    .status__services-icons {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .status__services-icons:hover, .status__services-icons:active {
        fill: #4d4b49f8; }
  .status__services-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; }
  .status__icon-container {
    align-self: flex-end;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #4fc1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; }
  .status__icon {
    text-align: center;
    height: 4rem;
    width: 4rem;
    stroke: #fff;
    fill: #4fc1b1;
    z-index: 10;
    cursor: pointer; }
    .status__icon:hover, .status__icon:active {
      fill: #8cf5e3; }
  .status__trending {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .status__trending-heading {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .status__trending-lists-box {
      border: 1px solid #d9d9d9;
      margin-bottom: 1rem;
      border-radius: 10px;
      padding: .3rem;
      cursor: pointer; }
    .status__trending-lists span {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .status__trending-lists span:hover, .status__trending-lists span:active {
        background-color: #f4f3f3; }

.sidebar {
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: #fff;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 3/4;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 0;
      border-bottom-left-radius: 5rem;
      padding: 3rem 1rem;
      background-color: #fff;
      border-radius: none; } }
  @media only screen and (max-width: 59.38em) {
    .sidebar {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 31.25em) {
    .sidebar {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 2rem 1rem;
      margin-top: 2rem; } }
  .sidebar::after {
    position: absolute; }
  .sidebar__main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    fill: #fff;
    stroke: #4d4b49f8; }
    @media only screen and (max-width: 75em) {
      .sidebar__main {
        flex-direction: row;
        gap: 1rem; } }
    .sidebar__main--box {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: flex-start;
      gap: 2.5rem;
      padding: 1.5rem 2rem;
      width: 100%;
      transition: all .3s; }
      @media only screen and (max-width: 75em) {
        .sidebar__main--box {
          flex-direction: column;
          gap: 1rem; } }
      @media only screen and (max-width: 47.5em) {
        .sidebar__main--box {
          width: auto;
          overflow-x: auto; } }
      .sidebar__main--box:hover, .sidebar__main--box:active, .sidebar__main--box-active {
        color: #4fc1b1;
        fill: currentColor;
        stroke: currentColor;
        background-color: #f4f3f3;
        border-radius: 1rem; }
    .sidebar__main--name {
      font-size: 1.5rem;
      align-self: flex-end; }
      @media only screen and (max-width: 59.38em) {
        .sidebar__main--name {
          display: none; } }
    .sidebar__main--icon-container {
      display: flex;
      align-items: center;
      justify-content: center; }
    .sidebar__main--icon {
      height: 1.5rem;
      width: 1.5rem; }
      @media only screen and (max-width: 59.38em) {
        .sidebar__main--icon {
          height: 2.5rem;
          width: 2.5rem; } }
  .sidebar__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    border-top: 1px solid #d9d9d9;
    fill: #fff;
    stroke: #4d4b49f8; }
    @media only screen and (max-width: 75em) {
      .sidebar__footer {
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        border: none; } }
    @media only screen and (max-width: 59.38em) {
      .sidebar__footer {
        display: none; } }
    .sidebar__footer-box {
      position: relative;
      fill: #fff;
      stroke: #4d4b49f8; }
      .sidebar__footer-box::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: red;
        position: absolute;
        left: 26px; }
  @media only screen and (max-width: 75em) {
    .sidebar .logo {
      display: none; } }
  .sidebar .logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .sidebar .logo-box {
        display: none; } }
